<h2>新規登録</h2>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード（6文字以上）" %><br />
      <%= f.password_field :password, id:"user_password", autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワード再入力" %><br />
      <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :nickname, "ニックネーム" %><br />
      <%= f.text_field :nickname, id:"nickname" %>
    </div>
    <div class="field">
      <%= f.label :birthday, "誕生日（任意）" %><br />
      <%= f.date_select :birthday, use_month_numbers: true, 
      start_year: 1930, end_year: (Time.now.year - 6), default: Date.new(1989, 1, 1), id:"birthday" %>
    </div>
    <div class="actions"><br />
      <%= f.submit "新規登録", class: :form__btn  %>
    </div>
    <% end %>
    </div>
  </div>
</div>